@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    
} */

@layer base {
  body {
    background-color: #fdfdfd;
    color: #1d1d1d;
    font-family: 'Lato', sans-serif;
    letter-spacing: .5pt;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-transform: uppercase;
  }
}

@layer utilities {
 .color-amiri-white {
    color: #fdfdfd;
  }
  .bg-off-white {
    background-color: #ffffef;
  }
  .hyphens-auto {
    hyphens: auto;
  }
  .feature-image-cover {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
  }
  .feature-image {
    float: left;
    object-fit: cover;
    width: 50%;
    max-height: 100%;
    min-height: 1px;
    vertical-align: top;
    box-sizing: border-box;
  }
  .image-diff-ht > Image {
    float: left;
    width:  50%;
    height: 1000px;
    object-fit: cover;
  }
  .border-radius-25 {
    border-radius: 25px!important;
  }
  .hero-container-fullscreen {
    height: calc(100vh - 100px);
  }
  .bottom-left-aligned {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  /* Line Divider - start */
  .line {
    width: 40px;
    border: none;
    height: 2px;
  }
  /* Line Divider - end */
  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ff00a5;
    opacity: 1; /* Firefox */
  }
  /* Navbar css - start */
  .wrapper-navbar {
  display: flex;
  }
  .box {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .box:first-child > span { margin-right: auto; }

  .box:last-child  > span { margin-left: auto;  }
  /* Navbar css - end */
  
  /*Two unequal images in equal grid colums - start */
  .wrapper-two-images {
      display: flex;
      /* flex-wrap: wrap; */
      flex-direction: row;
      /* width: 100vw; */
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
  }

  .wrapper-one-half {
      height: 100vh;
      flex-grow: 1;
      width: 50%;

      box-sizing: border-box;
      float: left;
      min-height: 1px;
      vertical-align: top;
          
  }
  
  .image-item {
      max-height: 100%;
      min-width: 100%;
      object-fit: cover;
      vertical-align: bottom;

      height: 0px;
      padding-bottom: 125%;
      position: relative;
      display: block;
      background-color: transparent;
      overflow: hidden;

  }
  @media only screen and (min-width: 768px) {
      *[data-gradient="true"]:after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          background-image: linear-gradient(45deg, rgba(38, 38, 38, 0.86) 0%, rgba(0, 0, 0, 0.08) 54%);
          mix-blend-mode: multiply;
          z-index: 30;
      }
  }
  /*Two unequal images in equal grid colums - end */
}
